/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background: #e5e5e5;  
  font-family: sans-serif;
}

.msg_box{
  position: fixed;
  bottom: 0px;
  /* height: 350px; */
  width: 300px;
  background: white;
  border-radius: 5px 5px 0px 0px;
}

.msg_head{  
  background: rgb(189, 194, 192);
  color: black;
  height: 3rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 6%;
  padding-bottom: 6%; */
  font-weight: bold;
  /* cursor: pointer; */
  border-radius: 5px 5px 0px 0px;

}

/* .close {
  display: inline-block;
  color: yellow !important;
  justify-content: right;
} */

.one,
.two,
.three,
.four{
display: inline-block;
}
.one {
margin-left: 0.5rem;
}
.two {
flex: 1;
text-align: left;
margin-left: 1rem;
color: black;
}
.four {
margin-right: 15px;
}
.three {
margin-right: 15px;
}
.closeIcon,
.calender {
cursor: pointer;
}
.msg_body{
  background: white;
  height: 300px;
  font-size: 12px;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
}

/* .close{
  float: right;
  cursor: pointer;
}
 */
/* .minimize{
  float: right;
  cursor: pointer;
  padding-right: 5px;
} */

/****** Slider Layout Popup ******/
.chatList {
  /* border: 1px solid #b2b2b2; */
  width: 280px;
  margin-bottom: 10px;

}
.AllChatUsers {
  height: 200px;
  right: 0px;
  top: 0px;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
}
.chatHeader {
  background: #f774b3;
  color: black;
  height: 3rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 6%;
  padding-bottom: 6%; */
  font-weight: bold;
  /* cursor: pointer; */
  border-radius: 5px 5px 0px 0px;
}
.chat-sidebar {
  display: flex;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  background-color: white;
}
.hrForChat {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    margin-left: 3%;
    margin-right: 3%;
    
}
.personModel {
  width: 100%;
  /* margin-left: 1%; */
  /* display: flex; */
  /* align-items: center; */
  padding-left: 2.5%;
  cursor: pointer;
  color: black;
  line-height: 0;
}
.userPara {
  font-size: 11px;
  color: rgb(165, 165, 165);
}
.userChatAvaster {
  margin-left: 2%;
}
.chatSection{
  margin-left: 2%;
  color: white;
}
.chatSection, .closeIco {
display: inline-block;  
}
.closeIco {
  flex: 1;
}
/* .modal-body {
  display: flex;
    float: right;
  margin-left: 10px;
} */
/* .inner {
  display: inline;
}
*/
/* .paraDiv {
  width: 100%;
} */

.text {
  width: 74%;
}
.textRight {
width: 79%;
/* float: left; */
/* border-radius: 10px; */
/* text-align: left;
padding-left: 6px; */
}
/* .inputField {
text-align: left;
  clear: both;
  float:left;
  margin-right:0px;
} */

/* .msgBtm {
    display: flex;
} */
.Smsg {
  background-color: rgb(247, 204, 152);
  color: white;
  float: right;
  font-size: small;
  padding-top: 8px;
  padding-bottom: 8px;
  /* background-color: #DAF7A6 ; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  /* overflow: hidden; */
  overflow-wrap: break-word !important;
  text-align: right;
  /* padding-left: 2px; */
  padding-right: 4%;
  padding-left: 6%;
}
.Rmsg {
  background-color: #ff3396;
  float: left;
  font-size: small;
  padding-top: 8px;
  padding-bottom: 8px;
  /* background-color: #ff3396; */
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  /* overflow: hidden; */
  /* width: 74%; */
  overflow-wrap: break-word !important;
  text-align: justify;
  /* padding-left: 2px; */
  /* float: left; */
  /* border-radius: 10px; */
  /* text-align: left; */
  padding-left: 6px; 
  padding-right: 6%;
}
.inputGroup {
display: flex;
/* justify-content: space-around; */
}
.formControl {
border: none;
margin-left: 1rem;
width: 65%;
height: auto;
/* background-color: lightyellow; */
padding-top: 3%;
padding-bottom: 3%;
font-size: 1rem;
border-radius: 6px;
}
.emoji, .send {
margin-left: 0.5rem;
display: flex;
align-items: center;
cursor: pointer;
}

/* .chatIconBtn {
  background-color: #ff3396;
  padding: 15px;
  border-radius: 50%;
  border: none;
}
.whiteChat {
  color: #ff3396;
  font-size: x-large;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10%;
  padding: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.Chatlogo {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
}
.pink-circle {

  position: relative;
  width: 53px;
  height: 53px;
  border-radius: 40px;
  background-color: #ff3396;
  box-shadow: 2px 2px 3px 2px rgb(0,0,0,0.3);
}
.white-circle {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff3396 !important;
}
/* .pink-circle:before {
  position: absolute;
  content: "";
  top: 33px;
  left: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
  transform: rotate(-20deg) rotateX(-50deg);
} */
.pink-circle:before {
  position: absolute;
  content: "";
  top: 29px;
  left: 13px;
  border-bottom: 12px solid white;
  border-right: 12px solid transparent;
}
/* .pink-circle:after {
  position: absolute;
  content: "";
  top: 33px;
  left: -4px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #3AC371 transparent transparent;
  transform: rotate(-51deg) rotateX(-50deg);
} */
/* .pink-circle i {
  position: absolute;
 left: 109px;
 top: 107px;
 font-size: 41px;
 color: aqua;
} */