/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background: rgb(204, 186, 186);  
  font-family: 'Poppins';
}

.msg_box{
  position: fixed;
  bottom: 0px;
  /* height: 350px; */
  width: 300px;
  background: white;
  border-radius: 5px 5px 0px 0px;
}

.msg_head{  
  background: #efefef;
  color: black;
  height: 48px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 6%;
  padding-bottom: 6%; */
  font-weight: bold;
  /* cursor: pointer; */
  border-radius: 5px 5px 0px 0px;

}

/* .close {
  display: inline-block;
  color: yellow !important;
  justify-content: right;
} */

.one,
.two,
.three,
.four{
display: inline-block;
}
.one {
margin-left: 0.5rem;
}
.two {
flex: 1;
text-align: left;
margin-left: 1rem;
color: black;
/* font-family: 'Poppins'; */
/* font-size: 14px; */
/* font-weight: 500; */
opacity: 0.8;

font-family: "Poppins";
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.four {
margin-right: 15px;
}
.three {
margin-right: 15px;
}
.closeIcon,
.calender {
cursor: pointer;
}
.msg_body{
  background: white;
  height: 308px;
  font-family: "Poppins";
  font-size: 12px;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
}

/* .close{
  float: right;
  cursor: pointer;
}
 */
/* .minimize{
  float: right;
  cursor: pointer;
  padding-right: 5px;
} */

/****** Slider Layout Popup ******/
.connectedUsersList {
  position: fixed;
  bottom: 0;
  right: 10px;
  /* z-index: 100; */
}
.chatList {
  /* border: 1px solid #b2b2b2; */
  width: 290px;
  /* margin-bottom: 10px; */

}
.AllChatUsers {
  height: 391px;
  right: 0px;
  top: 0px;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
}
.chatHeader {
  background: #ee357e;
  color: black;
  height: 40px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 6%;
  padding-bottom: 6%; */
  font-weight: bold;
  /* cursor: pointer; */
  border-radius: 5px 5px 0px 0px;
}
.chat-sidebar {
  display: flex;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  background-color: white;
}
.hrForChat {
    background-color: #d8d8d8;
    border: 0 none;
    /* color: #eee; */
    height: 1px;
    margin-left: 3%;
    margin-right: 3%;
    
}
.personModel {
  width: 100%;
  /* margin-left: 1%; */
  /* display: flex; */
  /* align-items: center; */
  padding-left: 2.5%;
  cursor: pointer;
  color: black;
  line-height: 0;
}
.userPara {
  font-size: 11px;
  color: rgb(165, 165, 165);
}
.userChatAvaster {
  margin-left: 2%;
}
.chatSection{
  margin-left: 3.5%;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.chatSection, .closeIco {
display: inline-block;  
}
.closeIco {
  flex: 1;
}
/* .modal-body {
  display: flex;
    float: right;
  margin-left: 10px;
} */
/* .inner {
  display: inline;
}
*/
/* .paraDiv {
  width: 100%;
} */

.text {
  width: 95%;
}
.textRight {
width: 95%;
/* float: left; */
/* border-radius: 10px; */
/* text-align: left;
padding-left: 6px; */
}
/* .inputField {
text-align: left;
  clear: both;
  float:left;
  margin-right:0px;
} */

/* .msgBtm { */
    /* display: flex; */
    
     /* height: 42px; */
/* } */
.Smsg {
  background-color: #f5edf1;
  color: black;
  float: right;
  font-family: 'Poppins';
  font-size: small;
  /* margin: 0 8px 0 0; */
  /* padding-top: 8px;
  padding-bottom: 8px; */
  padding: 8px 11px 8px 14px;
  /* background-color: #DAF7A6 ; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  /* overflow: hidden; */
  overflow-wrap: break-word !important;
  text-align: right;
  width: auto;
  /* display: inline-block !important; */
  vertical-align: top !important;
  text-align: right !important;
  /* padding-left: 2px; */
  /* padding-right: 4%;
  padding-left: 6%; */
}
.Rmsg {
  background-color: #ee357e;
  float: left;
  font-family: 'Poppins';
  font-size: small;
  padding: 8px 25px 8px 11px;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  /* background-color: #ff3396; */
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  /* overflow: hidden; */
  /* width: 74%; */
  overflow-wrap: break-word !important;
  text-align: justify;
  /* padding-left: 2px; */
  /* float: left; */
  /* border-radius: 10px; */
  /* text-align: left; */
  /* padding-left: 6px; 
  padding-right: 8%; */
  /* display: inline-block !important; */
  vertical-align: top !important;
  text-align: left !important;
}
.inputGroup {
display: flex;
/* justify-content: space-around; */
}
.formControl {
border: none;
margin-left: 1rem;
width: 65%;
height: auto;
/* background-color: lightyellow; */
padding-top: 0.5%;
padding-bottom: 3%;
border-radius: 6px;
font-family: 'Poppins';
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818181;
}

/* Need this commented code */
/* .formControl:focus {
    outline: none;
} */

.emoji, .send {
margin-left: 1rem;
display: flex;
align-items: center;
cursor: pointer;
/* width: 15px; */
  /* height: 18px; */
  /* margin: 0 0 0 15px; */
  object-fit: contain;
}



/* .chatIconBtn {
  background-color: #ff3396;
  padding: 15px;
  border-radius: 50%;
  border: none;
}
.whiteChat {
  color: #ff3396;
  font-size: x-large;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10%;
  padding: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.Chatlogo {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
}
.pink-circle {

  position: relative;
  width: 53px;
  height: 53px;
  border-radius: 40px;
  background-color: #ee357e;
  box-shadow: 2px 2px 3px 2px rgb(0,0,0,0.3);
}
.white-circle {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee357e !important;
}
/* .pink-circle:before {
  position: absolute;
  content: "";
  top: 33px;
  left: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
  transform: rotate(-20deg) rotateX(-50deg);
} */
.pink-circle:before {
  position: absolute;
  content: "";
  top: 29px;
  left: 13px;
  border-bottom: 12px solid white;
  border-right: 12px solid transparent;
}
/* .pink-circle:after {
  position: absolute;
  content: "";
  top: 33px;
  left: -4px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #3AC371 transparent transparent;
  transform: rotate(-51deg) rotateX(-50deg);
} */
/* .pink-circle i {
  position: absolute;
 left: 109px;
 top: 107px;
 font-size: 41px;
 color: aqua;
} */


/* chatSearch */
#chatSearch {
  background-color: #f7edf1;
  margin-top: 3%;
  margin-right: 3%;
}
.chatListClose {
  margin-left: auto; 
  margin-right: 2%;
  color: white;
  cursor: pointer;
}
.numberOfMessages {
  float: right;
  margin-right: 14%;
  /* width: 26px;
  height: 21px; */
  /* background-color: aqua; */

  
  /* margin: 5px 3px 0 82px;
  padding: 2px 9px 2px 10px; */
  border-radius: 10.5px;
  /* background-color: #ee357e; */
}
